* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

h1 {
  font-family: "Georgia", serif;
  font-size: 32px;
  line-height: 35.2px;
  font-weight: 400;
  margin: 5px 0;
  letter-spacing: 2px;
  color: #F1CDB3;
}

h2 {
  font-family: "Georgia", serif;
  font-size: 44px;
  line-height: 57.2px;
  font-weight: 400;
  padding: 80px 0 0;
}

h3 {
  font-family: "Georgia", serif;
  font-size: 35px;
  line-height: 45.5px;
  font-weight: 400;
  letter-spacing: 2.1px;
  color: #545454;
}

h4 {
  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 1.1px;
  color: #545454;
}

h5 {
  font-family: "Georgia", serif;
  font-size: 15px;
  line-height: 16.5px;
  font-weight: 400;
  letter-spacing: 0.9px;
}

@font-face {
  font-family: "Arial";
  src: url(../../fonts/arial/);
}
@font-face {
  font-family: "Georgia";
  src: url(../../fonts/georgia/);
}
.link {
  color: #545454;
  text-decoration: none;
}
.link.active {
  pointer-events: none;
  cursor: default;
}

.section {
  padding-bottom: 100px;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

.header_container {
  padding: 25px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .header_container {
    padding: 25px 30px;
  }
}

.logo_title {
  color: #545454;
}

.logo_text {
  font-size: 13px;
  line-height: 14.95px;
  letter-spacing: 1.3px;
  padding-left: 4px;
  color: #FFFFFF;
}
.logo_text_dark {
  color: #292929;
}

.header {
  background: url(../../images/background/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}
.header_light {
  background: #FFFFFF;
}

.navigation_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
}

.navigation_link {
  position: relative;
  margin: 0 0 0 36px;
  color: #CDCDCD;
  transition: color 0.3s;
}
@media (max-width: 768px) {
  .navigation_link {
    display: none;
  }
}
.navigation_link:hover {
  color: #FAFAFA;
}
.navigation_link.active {
  color: #FAFAFA;
}
.navigation_link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background: #F1CDB3;
}
.navigation_link_dark {
  color: #545454;
}
.navigation_link_dark:hover {
  color: #292929;
}
.navigation_link_dark.active {
  color: #292929;
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
}

.not_only {
  padding: 61px 0 0;
  background: url(../../images/background/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}
@media (max-width: 768px) {
  .not_only {
    padding: 32px 0 0;
  }
}

.not_only_container {
  justify-content: space-between;
}
@media (max-width: 768px) {
  .not_only_container {
    justify-content: end;
    gap: 100px;
  }
}

.not_only_content {
  max-width: 460px;
  padding-top: 84px;
}
@media (max-width: 768px) {
  .not_only_content {
    margin: auto;
    padding-top: 0;
  }
}

.not_only_title {
  max-width: 310px;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .not_only_title {
    padding-top: 0;
  }
}

.not_only_text {
  margin: 40px 0 43px;
  color: #CDCDCD;
}

.not_only_button {
  width: 207px;
  margin: auto;
}

@media (max-width: 768px) {
  .not_only_img {
    width: 569px;
  }
}

.about {
  padding: 80px 0 100px;
}
@media (max-width: 768px) {
  .about {
    padding: 65px 0 100px;
  }
}

.about_container {
  justify-content: center;
}
@media (max-width: 768px) {
  .about_container {
    flex-wrap: wrap-reverse;
    gap: 80px;
  }
}

.about_img {
  margin-right: 120px;
}
@media (max-width: 768px) {
  .about_img {
    margin-right: 0;
  }
}

.about_content {
  max-width: 430px;
}

.about_title {
  padding: 14px 0 0;
}

.about_text {
  margin: 25px 0 0;
}

.our_friends {
  background: #F6F6F6;
}

.our_friends_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our_friends_text {
  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 22.72px;
  font-weight: 400;
  letter-spacing: 1.5px;
  color: #545454;
}

.help_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 53px 120px;
  margin: 58px 0 0;
}

.item_icon {
  width: 60px;
  height: 60px;
  margin: 0 0 25px;
}

.help_item {
  text-align: center;
}

.donation {
  color: #545454;
  background: #F6F6F6;
}

.donation_container {
  justify-content: center;
  align-items: center;
  padding: 80px 0 0;
}

.donation_img {
  height: 261px;
  margin: 0 30px 0 0;
}

.donation_content {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.donation_card {
  display: flex;
  width: 349px;
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 10px;
}

.donation_icon {
  margin: 0 15px 0 0;
}

.footer {
  background: url(../../images/background/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.footer_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 302px;
  height: 234px;
  margin-top: 19px;
}

.column-1 {
  max-width: 280px;
}

.footer_title {
  color: #FFFFFF;
}

.footer_link {
  display: flex;
  align-items: center;
}

.footer_icon {
  margin: 0 20px 0 0;
}

.footer_link_text {
  color: #F1CDB3;
}

.footer_img {
  height: 310px;
}

.button {
  display: block;
  padding: 15px 45px;
  font-family: "Georgia", serif;
  font-size: 17px;
  line-height: 21.1px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #292929;
  background: #FFFFFF;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.button:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.button_control {
  width: 52px;
  height: 52px;
  background: #FAFAFA;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button_control:hover {
  background: #FDDCC4;
  border: 0 solid #FDDCC4;
}
.button_control:disabled {
  border: 2px solid #CDCDCD;
  pointer-events: none;
}

.button_colored {
  background: #F1CDB3;
  border: 0px solid #F1CDB3;
  transition: all 0.2s ease-out;
}
.button_colored:hover {
  background: #FDDCC4;
  border: 0 solid #FDDCC4;
}

.burger {
  display: none;
}
@media (max-width: 768px) {
  .burger {
    display: block;
    width: 30px;
    height: 30px;
  }
}

.burger_line {
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0 8px 0;
  background: #F1CDB3;
}
.burger_line_dark {
  background: #000000;
}

.title_center {
  padding: 80px 0 0;
  text-align: center;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 53px;
  margin: 60px 0 60px;
}
@media (max-width: 768px) {
  .slider {
    gap: 12px;
  }
}

.slider_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 990px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .slider_container {
    max-width: 580px;
  }
}

.slider_line {
  position: relative;
  left: 0;
  display: flex;
  gap: 90px;
  max-width: 2250px;
}
@media (max-width: 768px) {
  .slider_line {
    gap: 40px;
  }
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.slide:hover {
  background: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.0392156863);
}
.slide:hover .button {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.slide_img {
  height: 270px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pagination_content {
  font-family: "Georgia", serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  /*   background: $color-background; */
}

.text_xs {
  width: 380px;
  font-size: 12px;
  font-style: italic;
  line-height: 18px;
  color: #B2B2B2;
}

.friends_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px 40px;
  margin: 60px 0 60px;
}

.friends_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.friends_item:hover {
  background: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.0392156863);
}
.friends_item:hover .button {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.friends_img {
  height: 270px;
}

/*# sourceMappingURL=style.css.map */
