.burger {
  display: none;
  @include media-tablet {
    display: block;
    width: 30px;
    height: 30px;
  }
}

.burger_line {
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0 8px 0;
  background: $color-primary;
}