.about {
  padding: 80px 0 100px;
  @include media-tablet {
    padding: 65px 0 100px;
  }
}

.about_container {
  justify-content: center;
  @include media-tablet {
    flex-wrap: wrap-reverse;
    gap: 80px;
  }
}

.about_img {
  margin-right: 120px;
  @include media-tablet {
    margin-right: 0;
  }
}

.about_content {
  max-width: 430px;
}

.about_title {
  padding: 14px 0 0;
}

.about_text {
  margin: 25px 0 0;
}