.about {
  padding: 80px 0 100px;
}

.about_container {
  justify-content: center;
}

.about_img {
  margin-right: 120px;
}

.about_content {
  max-width: 430px;
}

.about_title {
  padding: 14px 0 0;
}

.about_text {
  margin: 25px 0 0;
}