.donation {
  color: $color-additional;
  background: $color-background;
}

.donation_container {
  justify-content: center;
  align-items: center;
  padding: 80px 0 0;
  @include media-tablet {
    flex-wrap: wrap-reverse;
    gap: 60px;
  }
  @include media-mobile {
    gap: 41px;
    padding: 39px 0 0;
  }
}

.donation_img {
  height: 261px;
  margin: 0 30px 0 0;
  @include  media-tablet {
    margin: 0;
  }
  @include media-breakpoint {
    height: 135.2px;
  }
}

.donation_content {
  display: flex;
  flex-direction: column;
  gap: 19px;
  @include media-mobile {
    gap: 23px;
  }
}

.donation_card {
  display: flex;
  width: 349px;
  padding: 10px 15px;
  background: $color-primary;
  border-radius: 10px;
  @include media-mobile {
    width: 281px;
  }
}

.donation_icon {
  margin: 0 15px 0 0;
}