.footer {
  background: url(../../images/background/noise_transparent.png),
  radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.footer_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 302px;
  height: 234px;
  margin-top: 19px;
}

.column-1 {
  max-width: 280px;
}

.footer_title {
  color: $color-title-light;
}

.footer_link {
  display: flex;
  align-items: center;
}

.footer_icon {
  margin: 0 20px 0 0;
}

.footer_link_text {
  color: $color-primary;
}

.footer_img {
  height: 310px;
}