.footer {
  background: url(../../images/background/noise_transparent.png),
  radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
  @include media-tablet {
    justify-content: center;
    gap: 64px 60px;
    padding-top: 13px;
  }
  @include media-mobile {
    gap: 22px;
    padding-top: 9px;
  }
}

.footer_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 302px;
  height: 234px;
  margin-top: 19px;
  @include media-mobile {
    height: 221px;
  }
}

.column-1 {
  max-width: 280px;
  @include media-mobile {
    height: 208px;
    align-items: center;
  }
}

.footer_title {
  color: $color-title-light;
  @include media-mobile {
    max-width: 270px;
    margin: 0 auto;
    align-items: center;
  }
}

.footer_link {
  display: flex;
  align-items: center;
}

.footer_link_left {
  text-align: left;
}

.footer_icon {
  margin: 0 20px 0 0;
}

.footer_link_text {
  color: $color-primary;
  @include media-mobile {
    font-size: 20px;
  }
}

.footer_img {
  max-height: 310px;
  @include media-mobile {
    width: 260px;
    max-height: 296px;
    margin-top: 12px;
    & > img {
      width: 100%;
    }
  }
}