.header_container {
  padding: 25px 40px;
  @include flex($justify: space-between);
}

.logo_text {
  font-size: 13px;
  line-height: 14.95px;
  letter-spacing: 1.3px;
  padding-left: 4px;
}

footer,
.header,
.not_only {
  background: url(../../images/background/noise_transparent.png),
  linear-gradient(0deg, #211F20, #211F20),
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}