.not_only {
  padding: 61px 0 0;
  background: url(../../images/background/noise_transparent.png),
  radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.not_only_container {
  justify-content: space-between;
}

.not_only_content {
  max-width: 460px;
  padding-top: 84px;
}

.not_only_title {
  max-width: 310px;
  color: $color-title-light;
}

.not_only_text {
  margin: 40px 0 43px;
  color: $color-text-light;
}