.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.name-game {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  color: #822f92;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word {
  font-size: 40px;
  font-weight: 600;
}

.text {
  text-align: center;
  width: 60%;
  font-size: 30px;
  font-weight: 600;
}

.attempts {
  color: #eb0826;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  padding: 6px;
  background-color: #897a7cb0;
  border: 1px solid #eb0826;
  border-radius: 10px;
}

.keyboard-key {
  display: block;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 4px;
  font-size: 30px;
  border: 1px solid #eb0826;
  border-radius: 5px;
  background-color: #ff749e42;
}

.empty-key {
  display: block;
  width: 100%;
  clear: both;
}

.active {
  color: #534a4aa4;
  background: #eb08269e;
}

/* gallows */
.gallows {
  position: relative;
}

.human {
  position: absolute;
}

.human-head {
  top: 150px;
  left: 250px;
}

.human-body {
  top: 251px;
  left: 302px;
}

.human-hand-one {
  top: 251px;
  left: 237px;
}

.human-hand-two {
  top: 251px;
  left: 304px;
}

.human-leg-one {
  top: 380px;
  left:237px;
}

.human-leg-two {
  top: 380px;
  left: 301px;
}

/* modal window */
.modal-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.7)
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 68%;
  height: 51%;
  border: 10px solid #eb0826;
  border-radius: 1px;
  background-color: #ffffff;
}

.modal-button {
  width: 200px;
  height: 60px;
  border: 3px solid #0c0c0c;
  border-radius: 5px;
  background-color: #eb0826;
}

@media screen and (max-width: 720px) {
  .wrapper {
    flex-direction: column;
    padding: 0;
  }

  .gallows {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .gallows-img {
    width: 50%;
  }

  .human-head {
    top: 181px;
    left: 214px;
    width: 50px;
  }
  
  .human-body {
    top: 231px;
    left: 239px;
    height: 65px;
  }
  
  .human-hand-one {
    top: 230px;
    left: 207px;
    height: 41px;
  }
  
  .human-hand-two {
    top: 230px;
    left: 240px;
    height: 41px;
  }
  
  .human-leg-one {
    top: 295px;
    left: 207px;
    height: 41px;
  }
  
  .human-leg-two {
    top: 295px;
    left: 239px;
    height: 41px;
  }
}

@media screen and (max-width: 525px) {
  .keyboard-key {
    width: 44px;
    height: 44px;
  }
}