@mixin font ($family, $type, $size, $height, $weight: 400) {
  font-family: $family, $type;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin flex ($display: flex, $justify, $align: center, $wrap: nowrap){
  display: $display;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin media-desktop {
  @media (max-width: $width-desktop) { @content; }
}

@mixin media-tablet {
  @media (max-width: $width-tablet) { @content; }
}

@mixin media-breakpoint {
  @media (max-width: $width-breakpoint) { @content; }
}

@mixin media-mobile {
  @media (max-width: $width-mobile) { @content; }
}