$color-primary: #F1CDB3;
$color-additional: #545454;
$color-background: #F6F6F6;
$color-title-light: #FFFFFF;
$color-text-light: #CDCDCD;
$color-link-light: #FAFAFA;
$color-text-button: #292929;
$color-modal-text-dark: #000000;
$color-text-about: #4C4C4C;
$color-text-donation-xs: #B2B2B2;
$color-button-hover: #FDDCC4;

$width-desktop: 1200px;
$width-tablet: 768px;
$width-tablet-burger-menu: 767px;
$width-breakpoint: 707px;
$width-mobile: 380px;